/* GLOBAL */
body{
    font-family: 'Roboto', sans-serif;
}
.wrapper-100{
    width: 100%;
}
.wrapper-90{
    width: 90%;
    margin: 0 auto;
}
.wrapper-70{
    width: 70%;
    margin: 0 auto;
}
.at-color-white{
    color: white;
}
.at-color-gray{
    color: gray;
}
.at-color-azure{
    color: rgb(115, 173, 255);
}
.at-color-blue{
    color: rgb(3, 28, 78);
}
.at-margin-50{
    margin: 50px 0;
}
.at-margin-30{
    margin: 30px 0;
}
.at-margin-top-50{
    margin-top: 50px;
}
.at-margin-bottom-40{
    margin-bottom: 40px;
}
.at-margin-top-20{
    margin-top: 20px;
}
.at-padding-top{
    padding-top: 30px;
}
.at-padding-bottom{
    padding-bottom: 50px;
}
.at-font-lg{
    font-size: 1.4em;
}
.at-font-md{
    font-size: 1.2em;
}
.font-weight-h2{
    font-weight: 700;
}


/* HEADER */
header{
    margin-bottom: 80px;
}
.wrapper-nav{
    
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav-left,
.nav-center,
.nav-right{
    width: 100%;
    height: 80px;
}
.nav-left .img{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.nav-left .img img{
    max-width: 200px;
    margin-bottom: 10px;
}
.wrapper-nav ul{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.wrapper-nav ul li{
    display: inline;
    list-style: none;
    padding-right: 10px;
}
.wrapper-nav ul li a{
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    color: rgb(3, 28, 78);
}
.wrapper-nav ul li .fa-chevron-down{
    font-size: 0.9em;
    color: black;
}
.wrapper-nav .at-btn-default{
    color: rgb(115, 173, 255);
    border: 1px solid rgb(115, 173, 255);
    font-weight: 600;
}

.hamburger{
    width: 100%;
    height: 80px;
}

.hamburger .glyphicon-menu-hamburger{
    font-size: 2em;
    color: rgb(115, 173, 255);
    margin-top: 25px;
    margin-left: 500px;
}


/* MAIN */
/* JUMBOTRON */
#at-jumb{
    width:100%;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

#at-jumb .at-jumb-text,
#at-jumb .at-jumb-input{
    width: 100%;
}

#at-jumb .at-jumb-text h1{
    font-size: 4.6em;
}

#at-jumb .at-jumb-input{
    background-color: white;
    border-radius: 5px;
}

#at-jumb .at-jumb-input .form{
    width: 90%;
    height: 35px;
    margin: 5px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#at-jumb ::-webkit-input-placeholder{
    font-weight: 600;
    color: gray;
}

#at-jumb .at-jumb-input .a-btn{
    width: 90%;
    height: 30px;
    margin: 5px auto;
    border: none;
}

#at-jumb .at-jumb-input a.account{
    background-color: rgb(115, 173, 255);
}

#at-jumb .at-jumb-input a.google{
    position: relative;
    box-shadow: 1px 2px lightgray ;
    border: 1px solid rgba(211, 211, 211, 0.5) ;
}


#at-jumb .at-jumb-input a.google span{
    position: absolute;
    top: 20%;
    left: 2%;
    width: 100%;
    height: 30px;
    text-align: left;
}

#at-jumb .at-jumb-input a.google span img{
    height: 70%;
}

#at-jumb .at-jumb-input p{
    margin-top: 10px;
    font-size:0.8em;
    font-weight: 700;
    padding-bottom: 20px;
}

#at-jumb .at-jumb-input p a{
    text-decoration: underline;
}
/* ICON */
#at-icon{
    width: 100%;
    background-color: rgb(243, 245, 249);
}

#at-icon img{
    max-width: 200px;
}

#at-icon a{
    text-decoration: none;
}




/* DEPLOY */
#deploy{
    width: 100%;
}

#deploy .at-side-bar{
    width: 80%;
    margin: 0 auto;
    border-left: 1px solid gray;
}

#deploy .at-side-bar a{
    display: block;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 15px;
}

#deploy .box{
    width: 80%;
    margin: 5px;
}

#deploy .box h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

#deploy .box img{
    max-width: 40px;
}


/* DESIGNED */
#designed{
    width: 100%;
    background-color: rgb(243, 245, 249);
    padding: 30px 0;
}

.coso{
    position: relative;
    display: inline-block;
    width: 90%;
    margin: 0 auto;
}

.coso .img{
    width: 100%;
}

.coso .fa-chevron-left{
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-size: 3em;
    color: rgba(3, 28, 78, 0.5);
} 

.coso .fa-chevron-right{
    position: absolute;
    right: -18%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-size: 3em;
    color: rgb(3, 28, 78,);
}

#designed .coso img{
    width: 100%;
}


.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgb(115, 173, 255);
}

.circle.circle-full{
    background-color: rgb(115, 173, 255);
}


/* FEATURE */
#feature .box{
    width: 100%;
    margin-bottom: 20px;
}

#feature .box img{
    max-width: 40px;
    margin-bottom: 10px;
}

#feature .box a{
    text-decoration: none;
    color: rgb(115, 173, 255);
}

/* TAB-BLUE */
#tab-blue{
    background-image: linear-gradient(rgb(0,71,197), rgb(0,32,155));
    width: 100%;
}

#tab-blue .box{
    width: 100%;
    margin-bottom: 20px;
}

#tab-blue .box .box-line{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid white;
}

#tab-blue .box .box-line:last-child{
    border: none;
}

#tab-blue .box .box-line .sx,
#tab-blue .box .box-line .dx{
     width: 20%;
     float: left;
}

#tab-blue .box .box-line .central{
    width: 60%;
    float: left;
}

#tab-blue .box .box-line .sx,
#tab-blue .box .box-line .dx,
#tab-blue .box .box-line .central{
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

#tab-blue .box .box-line .central p{
    color: rgb(171, 189, 231);
}

#tab-blue .box .box-line .sx p{
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
}

#tab-blue .box .box-line .dx a{
    text-decoration: none;
    color:rgb(115, 173, 255);
    margin-right: 10px;
}

/* DEVELOPMENT */
#development{
    background-color:  rgb(243, 245, 249);
}

#development .coso-2{
    padding: 50px 0;
    background-color: white;
    border-radius: 5px;
}

#development .coso-2 img{
    width: 50%;
    
}

#development .coso-2 p :nth-child(2){
    font-size: 0.9em;
    
}

#development .coso-2 p span{
    padding-top: 10px;
    font-weight: 500;
}




/* FOOTER */
/* TOP */
#footer-top{
    background-color: rgb(0, 56, 177);
}

#footer-top .btn-default{
    font-weight: 600;
    margin-top: 20px;
}


/* BOTTOM */
#footer-bottom{
    background-color: rgb(3, 28, 78);
}

#footer-bottom img{
    max-width: 45px;
}

#footer-bottom .copyright {
    color: rgb(165, 172, 188);
    margin-top: 5px;
}

#footer-bottom .copyright .fa-copyright{
    font-size: 0.9em;
}

#footer-bottom .copyright span{
    font-size: 0.9em;
    color: rgb(88, 102, 133);
}

#footer-bottom .box{
    width: 100%;
}

#footer-bottom .box li{
    list-style: none;
}

#footer-bottom .box li h4{
    font-weight: 300;
}

#footer-bottom .box li a{
    text-decoration: none;
    color: rgb(165, 172, 188);
}

#footer-bottom .social-loghi .fab{
    font-size: 18px;
    color: rgb(165, 172, 188);
    margin-right: 5px;
}

/* SHARK */
#shark .discuss{
    display: inline-block;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    
}

#shark .discuss p{
    display: inline-block;
    padding: 5px 5px 0 5px;
    font-size: 0.8em;
}

#shark .img{
    display: inline-block;
    width: 50%;
}

#shark .img img{
    width: 100%;
    background-color: rgb(115, 173, 255);
}

#shark .circle-shark{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
}

#shark .circle-shark .circle-red{
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.9em;
}

#shark .circle-shark .circle-red span{
    margin-bottom:
}

/* MEDIA QUERY */

@media all and (max-width: 768px){
    /* DEPLOY */
    #deploy .at-side-bar{
       margin: 0;
    }
    /* DEVELOPMENT */
    #development .coso-2 img{
        width: 100%;
    }
    .coso .fa-chevron-left,
    .coso .fa-chevron-right{
        display: none;
    }
}
 