/* GLOBAL */
.wrapper-100{
    width: 100%;
}
.wrapper-90{
    width: 90%;
    margin: 0 auto;
}
.wrapper-70{
    width: 70%;
    margin: 0 auto;
}

.at-bg-green{
    background-color: greenyellow;
}

.at-bg-blue{
    background-color: blue;
}

.at-color-white{
    color: white;
}

.at-color-gray{
    color: gray;
}

.at-color-azure{
    color: rgb(115, 173, 255);
}

.at-color-blue{
    color: rgb(3, 28, 78);
}


.at-margin-50{
    margin: 50px 0;
}

.at-margin-30{
    margin: 30px 0;
}

.at-margin-top-50{
    margin-top: 50px;
}

.at-margin-bottom-40{
    margin-bottom: 40px;
}

.at-margin-top-20{
    margin-top: 20px;
}

.at-font-lg{
    font-size: 1.3em;
}

.at-font-md{
    font-size: 1.2em;
}

.font-weight-h2{
    font-weight: 700;
}


/* HEADER */
.wrapper-nav{
    height: 80px;
}

.nav-left,
.nav-center,
.nav-right{
    width: 100%;
    height: 80px;
}

.nav-left .img{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.nav-left .img img{
    max-width: 200px;
    margin-bottom: 10px;
}

.wrapper-nav ul{
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.wrapper-nav ul li{
    display: inline;
    list-style: none;
    padding-right: 10px;
}

.wrapper-nav ul li a{
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    color: rgb(3, 28, 78);
}


.wrapper-nav ul li .fa-chevron-down{
    font-size: 0.9em;
    color: black;
}

.wrapper-nav .at-btn-default{
    color: rgb(115, 173, 255);
    border: 1px solid rgb(115, 173, 255);
    font-weight: 600;
}


/* MAIN */
/* JUMBOTRON */
#at-jumb{
    width:100%;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
}

#at-jumb .at-jumb-text,
#at-jumb .at-jumb-input{
    width: 100%;
}

#at-jumb .at-jumb-text h1{
    font-size: 4.6em;
}

#at-jumb .at-jumb-input{
    background-color: white;
    border-radius: 5px;
}

#at-jumb .at-jumb-input .form{
    width: 90%;
    height: 35px;
    margin: 5px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#at-jumb ::-webkit-input-placeholder{
    font-weight: 600;
    color: gray;
}

#at-jumb .at-jumb-input a{
    width: 90%;
    height: 30px;
    margin: 5px auto;
    border: none;
}

#at-jumb .at-jumb-input a.account{
    background-color: rgb(115, 173, 255);
}

#at-jumb .at-jumb-input a.google{
    box-shadow: 1px 2px lightgray ;
    border: 1px solid rgba(211, 211, 211, 0.5) ;
}

#at-jumb .at-jumb-input a.google span{
    width: 100%;
    height: 30px;
}

#at-jumb .at-jumb-input a.google span img{
    height: 100%;
}
/* ICON */
#at-icon{
    width: 100%;
    background-color: rgb(243, 245, 249);
}

#at-icon img{
    max-width: 200px;
}

#at-icon a{
    text-decoration: none;
}


/* DEPLOY */
#deploy{
    width: 100%;
}

#deploy .at-side-bar{
    width: 80%;
    margin: 0 auto;
    border-left: 1px solid gray;
}

#deploy .at-side-bar a{
    display: block;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 15px;
}

#deploy .box{
    width: 80%;
    margin: 5px;
}

#deploy .box h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

#deploy .box img{
    max-width: 40px;
}


/* DESIGNED */
#designed{
    width: 100%;
    background-color: rgb(243, 245, 249);
    padding: 30px 0;
}

.coso{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

.coso img{
    width: 100%;
}

.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgb(115, 173, 255);
}

.circle.circle-full{
    background-color: rgb(115, 173, 255);
}


/* FEATURE */
#feature .box{
    width: 100%;
    margin-bottom: 20px;
}

#feature .box img{
    max-width: 40px;
    margin-bottom: 10px;
}

#feature .box a{
    text-decoration: none;
    color: rgb(115, 173, 255);
}

/* TAB-BLUE */
#tab-blue{
    background-image: linear-gradient(rgb(0,71,197), rgb(0,32,155));
    width: 100%;
}

#tab-blue .box{
    width: 100%;
    margin-bottom: 20px;
}

#tab-blue .box .box-line{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid white;
}

#tab-blue .box .box-line:last-child{
    border: none;
}

#tab-blue .box .box-line .sx,
#tab-blue .box .box-line .dx{
     width: 20%;
     float: left;
}

#tab-blue .box .box-line .central{
    width: 60%;
    float: left;
}

#tab-blue .box .box-line .sx,
#tab-blue .box .box-line .dx,
#tab-blue .box .box-line .central{
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

#tab-blue .box .box-line .central p{
    color: rgb(171, 189, 231);
}

#tab-blue .box .box-line .sx p{
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
}

#tab-blue .box .box-line .dx a{
    text-decoration: none;
    color:rgb(115, 173, 255);
    margin-right: 10px;
}

/* DEVELOPMENT */
#development{
    background-color:  rgb(243, 245, 249);
}


/* FOOTER */
/* TOP */
#footer-top{
    background-color: rgb(0, 56, 177);
}

#footer-top .btn-default{
    font-weight: 600;
    margin-top: 20px;
}


/* BOTTOM */
#footer-bottom{
    background-color: rgb(3, 28, 78);
}

#footer-bottom img{
    max-width: 45px;
}

#footer-bottom .copyright {
    color: rgb(165, 172, 188);
    margin-top: 5px;
}

#footer-bottom .copyright .fa-copyright{
    font-size: 0.9em;
}

#footer-bottom .copyright span{
    font-size: 0.9em;
    color: rgb(88, 102, 133);
}

#footer-bottom .box{
    width: 100%;
}

#footer-bottom .box li{
    list-style: none;
}

#footer-bottom .box li h4{
    font-weight: 300;
}

#footer-bottom .box li a{
    text-decoration: none;
    color: rgb(165, 172, 188);
}

#footer-bottom .social-loghi .fab{
    font-size: 18px;
    color: rgb(165, 172, 188);
    margin-right: 5px;
}


/* MEDIA QUERY */

 @media all and (max-width: 768px){
    /* DEPLOY */
    #deploy .at-side-bar{
       margin: 0;
    }
    }
